.form-inline {
    padding: 20px 0;
    label {
        margin-right: 15px;
    }
    .form-group {
        margin-right: 20px;
    }
}
.search-container {
    padding: 20px 15px;
    border: 1px solid #ddd;
    margin-top: 20px;
    background-color: #fff;
}