body {
	margin: 0;
	padding: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #FAF9FF;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

.Registration, .Login {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.fields {
	margin: 10px;
}
.buttons button {
	margin: 10px;
}
.message {
	padding: 5px;
}
.error {
	border: solid #ec5555 2px;
}
.navbar {
	background-color: #fff;
	border-radius: 0;
	border-bottom: 1px solid #eee;
	margin-bottom: 0;
}
.sidebar {
	min-height: calc(100vh - 52px);
	background-color: #fff;
	width: 250px;
	padding: 20px 0;
	float: left;
	margin-right: 20px;
	border-right: 1px solid #eee;
	ul {
		padding: 0;
		li {
			display: block;
			padding: 5px 20px;
			border-bottom: 1px solid #fafafa;
			a {
				color: #C9DAE3;
			}
			&.active {
				a {
					color:#02DC85;
				}
			}
		}
	}
}
.module-wrapper {
	// height: calc(100vh - 52px);
	padding: 20px 0;
	.blocks {
		display: flex;
		flex-wrap: wrap;
		.card {
			margin: 15px;
			padding: 0 15px;
			background-color: #fff;
			border-radius: 2px;
			flex: 0 1 calc(33.33% - 30px);
			border: 1px solid #eee;
			&.expired {
				background-color: rgba(255,0,0,0.2);
				border-color: rgba(255,0,0,0.5);
			}
		}

	}
}
.mentor-form {
	.form-group {
		margin-bottom: 10px;
		display: block;
		max-width: 400px;
		> label {
			display: block;
		}
		&.searchinput {
			.wrapper {
				border-radius: 4px;
				border: 1px solid #ccc;
				box-shadow: none;
				> div {
					min-height: 34px;
				}
			}
		}
	}
	.form-check {
		display: inline-block;
		margin-right: 15px;
		label {
			margin-left: 5px;
		}
	}
}